#  Generals ignores  #

# mac crap
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Jekyll stuff
# from https://github.com/github/gitignore/blob/master/Jekyll.gitignore
node_modules
_asset_bundler_cache
.sass-cache
.jekyll-metadata
